* {
  font-family: "Montserrat", sans-serif;

  margin: auto 0px;
  padding: 0px;
}

:root {
  --color-azul-del-fondo: rgb(24, 28, 48);
  --color-crema-beige: rgb(230, 221, 196);
  --color-sombra-verde: rgb(103, 137, 131);
}

.body {
  background-color: var(--color-azul-del-fondo);
  color: var(--color-crema-beige);
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
}

.menu {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.item-menu {
  list-style-type: none;
}

.item-link {
  box-shadow: 2px 3px var(--color-sombra-verde);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--color-crema-beige);
  color: var(--color-azul-del-fondo);
  font-weight: 300;
}

.item-menu:active {
  transform: translate(3px, 2px);
}
.item-menu:active > .item-link {
  box-shadow: 0px 0px;
}

/* logo */

#monitor-exterior,
#teclado-exterior {
  animation: abajo ease-in 5s;
  animation-iteration-count: 1;
}

#monitor-interior,
#teclado-interior,
#ojos {
  animation: arriba ease-in 5s;
  animation-iteration-count: 1;
}

@keyframes abajo {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  20% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes arriba {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  30% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* header */

header {
  background: url(./imagenes/codigo.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 88vh;
  color: rgb(238, 238, 238);
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px;
}

.titulos {
  text-align: center;
}

h1 {
  text-shadow: 2px 2px rgb(128, 128, 128), 6px 6px rgb(0, 0, 0);
}

h2 {
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  color: var(--color-sombra-verde);
}

/* main */

main {
  padding: 100px 0.2px;
}

.container-main {
  margin: 100px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.cards {
  width: 350px;
  height: 400px;
  border: 5px solid var(--color-sombra-verde);
  background-color: var(--color-crema-beige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imagen-cards {
  width: 100%;
  margin: 0px;
}

.text-cards {
  width: 90%;
  text-align: center;
  height: 30px;
  color: rgb(24, 29, 49);
}

.boton-cards {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(24, 29, 49);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 3px var(--color-sombra-verde);
  text-align: center;
  text-decoration: none;
  width: 40%;
  margin-bottom: 20px;
  color: rgb(240, 245, 228);
}

.boton-cards:active {
  box-shadow: 0px 0px darkgray;
  transform: translate(3px, 2px);
}

/* footer */
footer {
  background-color: var(--color-sombra-verde);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(24, 29, 49);
  padding: 40px;
}

.content-1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
}

.logo-footer {
  height: 80px;
}

.titulo-footer {
  font-size: 14px;
}
/* page historia */

.container-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-history {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 50px;
  gap: 20px;
}

.text-history {
  width: 45%;
}

div {
  display: block;
}

.container-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.video-historia {
  padding: 5px;
  background-color: black;
  width: 50%;
}

.barra-reproductora {
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.botones {
  display: flex;
  gap: 20px;
}

#play,
#pause {
  width: 80px;
}

.botones-video,
.boton-reinicio {
  box-shadow: 2px 3px var(--color-sombra-verde);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-crema-beige);
  color: rgb(24, 29, 49);
  font-weight: 300;
}

.botones-video:active {
  box-shadow: 0px 0px darkgray;
  transform: translate(3px, 2px);
}

/* page juguemos */

.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partes {
  display: flex;
  flex-direction: row;
}

.parte {
  width: 275px;
  height: 400px;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(128, 128, 128);
  text-align: center;
  justify-content: center;
  align-items: center;
}

#partes-imagenes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 40px;
}

.parte:hover {
  background-color: #1d1d1d;
}
.parte:hover > p {
  color: rgb(230, 221, 196);
}

.reiniciar {
  display: flex;
  margin: auto;
  padding: 10px 100px;
}

.boton-reinicio:active {
  box-shadow: 0px 0px rgb(169, 169, 169);
  transform: translate(3px, 2px);
}
